@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.app {
  @apply relative w-full h-screen overflow-hidden;
}

.home {
  @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
}

.home-content {
  @apply flex-1 xl:justify-center justify-start flex flex-col gap-10;
}

.head-text {
  @apply xl:text-[10rem] text-[6rem] xl:leading-[11rem] leading-[7rem] font-black text-black;
}

.download-btn {
  @apply w-14 h-14 flex justify-center items-center rounded-full glassmorphism cursor-pointer outline-none;
}

.editortabs-container {
  @apply glassmorphism  w-16 border-[2px] rounded-lg flex flex-col justify-center items-center ml-2 p-10 gap-12 ;
}

.animetabs-container {
  @apply glassmorphism bg-red-900 w-16 border-[2px] rounded-lg flex flex-col justify-center items-center ml-2 p-10 gap-12 ;
}

.filtertabs-container {
  @apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}

.aipicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[320px] h-[320px] rounded-md flex flex-col gap-4;
}

.anime-container {
  @apply absolute right-full mr-3 glassmorphism p-3 
    w-[420px] h-[320px] rounded-md 
     gap-3 justify-center;

    
}




.aipicker-textarea {
  @apply w-full bg-transparent text-lg border border-gray-300 p-2 outline-none flex-1;
}

.filepicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[320px] h-[320px] flex flex-col rounded-md;
}

.shapechanger-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[320px] justify-center items-center h-[320px] flex flex-col rounded-md;
}

.text-container {
  @apply absolute left-full ml-3 glassmorphism p-6 w-[520px] justify-center items-center h-[470px] flex flex-col rounded-md;
}

.filepicker-label {
  @apply border border-gray-300 py-3 px-5 rounded-md h-full w-full shadow-sm 
         text-lg text-gray-300 focus:outline-none focus:ring-2 
         focus:ring-blue-500 focus:border-blue-500 cursor-pointer;
}

.tab-btn {
  @apply w-20 h-20 flex justify-center items-center cursor-pointer  select-none;
}

.glassmorphism {
  background: rgba(0,0,0,0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(0, 0, 0, 0.18);
}

input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

input {
  color: white !important;
}


.sketch-picker {
  width: 320px !important;
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  border-radius: 6px !important;
}

.sketch-picker > div:nth-child(3) {
  display: none !important;
}

@keyframes glow {
  0% { opacity: 0.3; transform: scaleX(1); }
  50% { opacity: 1; transform: scaleX(1.5); }
  100% { opacity: 0.3; transform: scaleX(1); }
}

.animate-glow {
  animation: glow 1.8s infinite ease-in-out;
}

.button {
  --black-700: hsla(0 0% 12% / 1);
  --border_radius: 10px;
  --transtion: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  transform-origin: center;

  padding: 0.6rem 0.7rem;
  background-color: transparent;

  border: none;
  border-radius: var(--border_radius);


  transition: transform var(--transtion);
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: var(--black-700);

  border-radius: var(--border_radius);
box-shadow: inset 0 0.5px hsl(0, 0%, 100%), 
          inset 0 -1px 2px 0 hsl(0, 0%, 0%), 
          0px 4px 10px -4px hsla(0, 0%, 0%, calc(1 - var(--active, 0)));

  transition: all var(--transtion);
  z-index: 0;
}

.button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: none;
  background-position: top;
  opacity: var(--active, 0);
  border-radius: var(--border_radius);
  transition: opacity var(--transtion);
  z-index: 2;
}

.button:is(:hover) {
  --active: 1;
}
.button:active {
  transform: scale(1);
}

.button .dots_border {
  --size_border: calc(100% + 2px);

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--size_border);
  height: var(--size_border);
background: linear-gradient(45deg,
  #2A6BA5,
  #3685CC,
  #B0CFEB,
  #00B2A5,
  #D9E8F5,
  #FF8256,
  #B0CFEB,
  #3685CC,
  #2A6BA5
);

background-size: 300%;
border-radius: var(--border_radius);
z-index: -10;
animation: glowing 5s linear infinite;
}

.button .dots_border::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transform: rotate(0deg);

  width: 100%;
  height: 2rem;
background: linear-gradient(45deg,
  #2A6BA5,
  #3685CC,
  #B0CFEB,
  #00B2A5,
  #D9E8F5,
  #FF8256,
  #B0CFEB,
  #3685CC,
  #2A6BA5
);

background-size: 300%;

  mask: linear-gradient(transparent 0%, white 120%);
  animation: rotate 5s linear infinite;
}


@keyframes glowing {
0% {
  background-position: 0% 0%;
}
50% {
  background-position: 200% 0%;
}
100% {
  background-position: 0% 0%;
}
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.button .sparkle {
  position: relative;
  z-index: 10;

  width: 1.75rem;
}

.button .sparkle .path {
  fill: currentColor;
  stroke: currentColor;

  transform-origin: center;

  color: hsl(0, 0%, 100%);
}

.button:is(:hover) .sparkle .path {
  animation: path 1.5s linear 0.5s infinite;
}

.button .sparkle .path:nth-child(1) {
  --scale_path_1: 1.2;
}
.button .sparkle .path:nth-child(2) {
  --scale_path_2: 1.2;
}
.button .sparkle .path:nth-child(3) {
  --scale_path_3: 1.2;
}

@keyframes path {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }
  17% {
    transform: scale(var(--scale_path_1, 1));
  }
  49% {
    transform: scale(var(--scale_path_2, 1));
  }
  83% {
    transform: scale(var(--scale_path_3, 1));
  }
}

.button .text_button {
  position: relative;
  z-index: 10;

  background-image: linear-gradient(
    90deg,
    hsla(0 0% 100% / 1) 0%,
    hsla(0 0% 100% / var(--active, 0)) 120%
  );
  background-clip: text;

  font-size: 1rem;
  color: transparent;
}


.input-field {
  @apply glassmorphism w-full border-[2px]  rounded-lg p-3 text-white 
         placeholder-gray-300 outline-none ;
}


.range-slider {
  @apply w-full appearance-none h-2 bg-gray-900
         rounded-lg shadow-lg outline-none cursor-pointer transition-all duration-300;
}

.range-slider::-webkit-slider-thumb {
  @apply appearance-none w-6 h-6 rounded-full border-[3px] border-teal-400
         bg-gray-900 shadow-[0_0_10px_rgba(0,255,255,0.8)]
         transition-all duration-300
          hover:shadow-[0_0_20px_rgba(0,255,255,1)]
         active:scale-90 active:shadow-[0_0_25px_rgba(0,255,255,1)];
}

/* For Firefox */
.range-slider::-moz-range-thumb {
  @apply appearance-none w-6 h-6 rounded-full border-[3px] border-teal-400
         bg-gray-900 shadow-[0_0_10px_rgba(0,255,255,0.8)]
         transition-all duration-300
         hover:shadow-[0_0_20px_rgba(0,255,255,1)]
         active:scale-90 active:shadow-[0_0_25px_rgba(0,255,255,1)];
}


